<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque, blanditiis corporis dignissimos dolorum error fuga, fugit impedit, labore necessitatibus nihil obcaecati odio officia quia quos ratione repellendus voluptates!</p>
    {{> footer}}
</body>
</html>